<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @profile.f_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @profile.l_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>


