<p id="notice"><%= notice %></p>



<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @profile.f_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @profile.l_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<!-- ONLY logged in owner of profile page has these privalages -->

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %> |
 <%= link_to 'New Artwork Listing', new_artwork_path %>    



