

  <div id="main_container" class="container.fluid myfont">
    <div class="row">
      <div class="col-12">
        <p id="notice"><%= notice %></p>




 <!--Sign Up Button --> 

 <!--Sign In Button --> 
 

 <!--Create Profile Button-->
  <%= link_to 'Create Profile ', new_profile_path %> 

  
 <!--Create New Artwork Button IF logged in and has profile--> 
  <%= link_to 'New Artwork Listing', new_artwork_path %>    

  <!--Create Go To Profile Button IF logged as user that ownes that profile--> 
 
  


 




<!--Main Header-->         
          <div class="col-12 cloud-image">
            <%=image_tag("cloud-md.png")%>
          </div>

          <div class= 'col-12'>
           <div class="website-header">
            <h1>Sydney Artists</h1>
          </div>


<!--  div for tables -->
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Artist</th>
                <th>Catagory</th>
                <th>Title</th>
                <th>Medium</th>
                <th>Description</th>
                <th>Price</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
             
              <% @artworks.each do |artwork| %>
                <tr>
                  <td>                    
                    <% if artwork.image.present? then %>
                      <%= image_tag artwork.image.url %>
                    <% else %>
                      No image
                    <% end %>
                  </td>
                  <td><%= artwork.artist %></td>
                  <td><%= artwork.catagory %></td>
                  <td><%= artwork.title %></td>
                  <td><%= artwork.medium %></td>
                  <td><%= artwork.description %></td>
                  <td><%= artwork.price %></td>
                  <td><%= link_to 'Show', artwork %></td> 
                  <!--link to artists profile page that shows all THEIR artwork -->
                  <td><%= link_to 'Go to Artist', artwork.user.profile%></td> 


                  <!--link_to @book.user.profile.username,  @book.user.profile -->
                  

                </tr>
              <% end %>
            </tbody>
          </table>

         

         
        </div>
      </div>
    
    </div> 
  </div>
</html>    

