<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @artwork.artist %>
</p>

<p>
  <strong em>Title:</strong em>
  <%= @artwork.title %>
</p>

<p>
  <strong>Catagory:</strong>
  <%= @artwork.catagory %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @artwork.medium %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>

<p>
  <strong>Artwork Image</strong>
  <%= image_tag(@artwork.image.url, alt: 'Image') if @artwork.image? %>
</p>

<!-- logged in owner of artwork privalages -->
<% if @artwork.user == current_user %>
  <%= link_to 'Edit', edit_artwork_path(@artwork) %> | 
  <%= link_to 'Back', artworks_path %> |
  <%= link_to 'Destroy', @artwork, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


<!-- Strip 'buy now' button -->
<%= form_tag charges_path do %>
<%= javascript_include_tag 'https://checkout.stripe.com/checkout.js',
  class: 'stripe-button',
  data: {
    key: ENV['stripe_publishable_key'],
    # total price x 100 because it must be in cents
    amount:100,
    name: current_user.email,
    description: "Example charge",
    image: "https://stripe.com/img/documentation/checkout/marketplace.png",
    locale: "auto",
    currency: "aud"
    }
  %>
  <% end %>


