<!DOCTYPE html>
<html>
  <head>
    <title>ArtCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <!doctype html>
<html lang="en">
  <head>
    <ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
 <!--Nav --> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/artworks">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Artists</a>
            <a class="nav-item nav-link" href="#"> <%= render 'devise/menu/registration_items' %></a>
            <a class="nav-item nav-link" href="#"> <%= render 'devise/menu/login_items' %></a>
            <%= form_tag(artworks_path, :method => "get", id: "search-form") do %>
              <div class="row">
                <%= text_field_tag :search, params[:search], placeholder: "Search Artworks", class: "form-control col-6 mr-2" %>
                <%= submit_tag "Search", :name => nil, class: "btn btn-blue font-white col-4" %>
              </div>

            <% end %>
        </div>
      </div>
  </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
  </body>
</html>
