<!DOCTYPE html>
<html>
  <head>
    <title>ArtCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <!doctype html>
<html lang="en">
<head>
   
 <!--Nav --> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="navbar-brand active" href="/artworks">Art Cloud</a>
            <a class="nav-item nav-link text-white" href="#">Artists</a>
            <div class="nav-item nav-link text-white"> <%= render 'devise/menu/registration_items' %></div>
            <div class="nav-item nav-link text-white"><%= render 'devise/menu/login_items' %></div>

             <!--Create Go To Profile Button IF logged as user that ownes that profile--> 
            <div class="nav-item nav-link text-white"><%= link_to 'Profile ', new_profile_path %></div>

             <!--Create New Artwork Button IF logged in and has profile--> 
            <div class="nav-item nav-link text-white"><%= link_to ' New Artwork', new_artwork_path %></div>       
        </div>
      </div>
 
      <span class="nav-text">
        <%= form_tag(artworks_path, :method => "get", id: "search-form") do %>
          <div class="row">
              <%= text_field_tag :search, params[:search], placeholder: "Search Artworks", class: "form-control col-6 mr-2" %>
              <%= submit_tag "Search", :name => nil, class: "btn btn-blue font-white col-3" %>
          </div>
        <% end %>
      </span>
  </nav>

      


  
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
      <%= yield %>
    </div>  
  </body>
</html>
